.carousel-indicators button.thumbnail {
  width: auto;
}
.carousel-indicators button.thumbnail:not(.active) {
  opacity: 0.7;
}

.carousel-indicators {
  position: static!important;
}

/*
@media screen and (min-width: 992px) {
  .carousel {
    max-width: 70%;
    margin: 0 auto;
  }
}
*/

.carousel-bootstrap-4 .carousel-images-indicators,
.carousel-bootstrap-3 .carousel-images-indicators {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  overflow-x:auto;
}

.carousel-bootstrap-4 .carousel-images-indicators li,
.carousel-bootstrap-3 .carousel-images-indicators li {
  flex: 1;
}

.carousel-bootstrap-4 .carousel-indicators {
  position: absolute!important;
}

.carousel-bootstrap-4 .carousel-indicators li {
  background-color: #e20b2f;
}
